 

 <%- include('includes/_header')%>



 <main id="site-man">
    .
    <div class="container">
        <div class="box-nav d-flex justify-between"></div>
        <div class="filter">

            <a href="/"> <i class="fas fa-angle-double-left"></i> All Users </a>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New User </h2>
            <span class="text-light"> Use thebellow form to create a new account </span>
        </div>
        <!-- Ficheiro que vai introduzir dados e estilo no formulário-->
        <%- include('includes/_form')%>
        
    </div>
</main>
 <%- include('includes/_footer')%>