
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../assets/css/index.css">
<title>EMS (employer systems ) </title>
</head>
<body>

    <!--Header -->

    <header id="header">
        <nav>
            <div class="container">
                   <div class="text-center">
                       <a href="/" class="nav-brand text-dark"> User management systems  </a>
                   </div>
            </div>
        </nav>
    </header>

    <!-- Fim do header -->

    <!-- Main site  -->
    <main id="site-man">
        .
        <div class="container">
            <div class="box-nav d-flex justify-between"></div>
            <a href="/add-user" class="border-shadow">
            <span class="text-gradient"> New User <i class="fas fa-users"></i></span>
            </a>

            <!-- Ficheiro que vai introduzir dados e estilo no formulário-->

            <form action="/" method="POST">
            
                <table class="table ">
                     <thead class="thead-dark"> 
                    <tr>
                        <th> ID </th>
                        <th> Name </th>
                        <th> @Email</th>
                        <th> Gender </th>
                        <th> Status </th>
                        <th> Action </th>
                    </tr>
                </thead>
                   
                   <tbody>

                    <tr>
                        <td> 1 </td>
                        <td> username </td>
                        <td> exempla@gmail.com</td>
                        <td> male</td>
                        <td> active </td>

                        <td>
                            <a href="#" class="btn border-shadow update"> 
                                <span class="text-gradient"><i class="fas fa-pencil-alt"> </i> </span>
                            </a>
                            <a class="btn border-shadow delete"> 
                                <span class="text-gradient"><i class="fas fa-times"> </i> </span>
                            </a>

                        </td>
                    </tr>
                   </tbody>

                </table>

            
            </form>
        </div>
    </main>

</body>
</html>